@charset "utf-8";
@import "mixin.less";

html,
body {
    height: 100%;
    background: #faf8f8 !important;
    margin: 0;
    letter-spacing: 1px;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

* {
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

*:focus {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.rightLayer{width:300px; height: 100vh; background: green; display:flex; .fixed; top:0; right: 0; }
